<div class="log-intro"></div>
<div class="container" id="features">
    <div class="features">

            <form [formGroup]="loginForm" class="book_form" (ngSubmit)="onSubmit()">

                    <label for="email">Почта</label>
                    <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email?.errors }" />
                    <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                        <div *ngIf="form.email.errors.required">Поле должно быть заполнено</div>
                    </div>

                    <label for="password">Пароль</label>
                    <input id="password" type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                        <div *ngIf="form.password.errors.required">Поле должно быть заполнено</div>
                    </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn-log">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Войти
                    </button>
                </div>
            </form>
        </div>
    </div>

