<div class="intro" id="intro">
    <div class="container">
        <div class="features">
            <div class="features__item">
                <div class="card">
    <div class="box">
        <h2>Вероника Капитанова<br><span>Математика</span></h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et.</p>
            <h2>Телефон:<br><span>89230399699</span></h2>
            <h2>Почта:<br><span>brigmore.w@mail.ru</span></h2>
    </div>
</div>
            </div>

            <div class="features__item">
        <div class="card">
            <div class="box">
                <h2>Вероника Капитанова<br><span>Математика</span></h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
                <h2>Телефон:<br><span>89230399699</span></h2>
                <h2>Почта:<br><span>brigmore.w@mail.ru</span></h2>
            </div>
        </div>

            </div>

            <div class="features__item">
        <div class="card">
            <div class="box">
                <h2>Вероника Капитанова<br><span>Математика</span></h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
                <h2>Телефон:<br><span>89230399699</span></h2>
                <h2>Почта:<br><span>brigmore.w@mail.ru</span></h2>
            </div>
        </div>


            </div>

            <div class="features__item">
        <div class="card">
            <div class="box">
                <h2>Вероника Капитанова<br><span>Математика</span></h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
                <h2>Телефон:<br><span>89230399699</span></h2>
                <h2>Почта:<br><span>brigmore.w@mail.ru</span></h2>
            </div>
        </div>
    </div>
    </div>
</div></div>