.book-intro{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    padding-top: 100px;
    background: #0d0d0d center no-repeat;
}
.table{
    margin: 0 5%;
}
.features {
    margin: 40px 0;
}

.features__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.btn-del{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    background: #f2727f;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background .1s linear;
    width: 100%;
}