<div class="book-intro">
</div>
<div class="container features">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
            <th scope="col">Телефон</th>
            <th scope="col">Предмет</th>
            <th scope="col">О себе</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.first_name }}</td>
            <td>{{ book.last_name }}</td>
            <td>{{ book.patronymic_name}}</td>
            <td>{{ book.phone }}</td>
            <td>{{ book.subject }}</td>
            <td>{{ book.about }}</td>
            <a class="nav__link btn-del"  *ngIf="currentUser" (click)="deleteBook(book.id)">Удалить</a>
        </tr>
        </tbody>
    </table>
</div>
