<!-- Header -->
<header class="header" id="header" >
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="img/activebox-logo.png" alt="">
            </div>
            <nav class="nav" id="nav">
                <a class="nav__link" href="/home">Главная страница</a>
                <a class="nav__link" href="/book">Book</a>
                <a class="nav__link" href="#" data-scroll="#team">Our Team</a>
                <a class="nav__link"  *ngIf="currentUser" (click)="logout()">Выйти</a>
                <a class="nav__link" *ngIf="!currentUser" href="/registration" >Регистрация</a>
                <a class="nav__link"  *ngIf="!currentUser" href="/login">Войти</a>
            </nav>
        </div>
    </div>
</header>

<!-- main app container -->
        <alert></alert>
        <router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__block">
                <h4 class="footer__title">Адрес</h4>
                <address class="footer__address">
                    <div>пр. Мира, 11,</div>
                    <div>Омск, Омская обл., 644050</div>
                </address>
            </div>

            <div class="footer__block">
                <h4 class="footer__title">ОМГТУ в соц. сетях</h4>
                <div class="social  social--footer">
                    <a class="social__item" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#linkedin"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="footer__block">
                <h4 class="footer__title">О проекте</h4>
                <div class="footer__text">
                    <p>Данный сервис разработан в учебных целях для получения практических навыков студентами кафедры АСОИУ Омского Технического Университета</p>
                </div>
            </div>
        </div><!-- /.footer__inner -->

    </div><!-- /.container -->

    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div>© 2019-2020, Сервис подбора репетиторов REPETIT.RU</div>
                <div><a class="nav__link" href="https://omgtu.ru/general_information/faculties/faculty_of_information_technology_and_computer_systems/department_of_automated_systems_of_information_processing_and_management/"><span>Кафедра «Автоматизированные системы обработки информации и управления» (АСОИУ)</span></a></div>
            </div>
        </div>
    </div>
</footer>

