/* Container
===================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Intro
===================*/
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: #0d0d0d url("../img/fff.png") center no-repeat;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}
.feature__title{
    margin: 100px 0 30px;
    color: #0d0d0d;
}

.intro__title{
    margin: -140px 0 30px;
    color: #fff;
}


.intro__title, .feature__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle , .features__subtitle{
    margin-bottom: 60px;
    font-size: 22px;
    color: #6c7279;
    line-height: 1.5;
    font-weight: 400;
}

/* Button
===================*/
.btn-home{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background .1s linear;
}
.btn--red {
    background-color: #f2727f;
}

.btn--red:hover {
    background-color: #e5616e;
    text-decoration: none;
    color: #ffffff;
}

.btn--long {
    min-width: 280px;
}
