<!-- Intro -->
<div class="intro" id="intro">
    <div class="container">
        <div class="intro__inner">
        <h1 class="intro__title">Репетитор найдется для каждого</h1>
            <h2 class="features__subtitle">Просмотрите профили преподавателей и найдите подходящего себе по требованиям всего в один клик</h2>
            <a class="btn-home  btn--red" href="/book">Посмотреть списки</a>
        </div>

    </div>
</div>
<!-- Features -->
<div class="container" id="features">
    <div class="features">
        <div class="features__item">
            <img class="features__icon" src="img/features/feature-2.png" alt="">
            <h4 class="features__title">Развитие карьеры онлайн</h4>
            <div class="features__text">Ваш профиль отображается в результатах поиска и помогает привлечь новых учеников</div>
        </div>

        <div class="features__item">
            <img class="features__icon" src="img/features/feature-3.png" alt="">
            <h4 class="features__title">Поиск для учащихся</h4>
            <div class="features__text">Вы можете самостоятельно найти онлайн репетиторов и получить их контактные данные для связи</div>
        </div>

        <div class="features__item">
            <img class="features__icon" src="img/features/feature-5.png" alt="">
            <h4 class="features__title">Регистрация для преподавателей</h4>
            <div class="features__text">Зарабатывайте благодаря своим знаниям не выходя из дома</div>
        </div>

        <div class="intro__inner">
            <h1 class="feature__title">Работа для репетиторов</h1>
            <h2 class="features__subtitle">Пройдите простой процесс заполнения формы для предоставления своих услуг и начните зарабатывайть благодаря своим знаниям</h2>
            <a class="btn-home  btn--red" href="/registration">Оставить заявку</a>
        </div>
    </div>
</div>